{% extends "base.html" %}

{% block title %} Přehled všech hlasování {% endblock %}

{% block content %}
    {% import "forms.html" as forms %}
    <div class="container-fluid">
        <div class="row-fluid">
            {% include 'hints.html' with {'page':'closepoll'} %}
            <div class="span10">
                <h2>Uzavření akce: {{ poll_data['name'] }} ({{ poll_data['date_start'] }}&nbsp;-&nbsp;{{ poll_data['date_end'] }})</h2>
                <h5>Pozvánka odeslána rodičům: {{ poll_data['sent'] }}</h5>
                <p>{% if been_closed['cnt'] > 0 %}
                        Akce už byla uzavřena {{ been_closed["creation"] }}.&nbsp;&nbsp;&nbsp;<a href="closepoll-excel.php?id={{ poll_data['id_polls'] }}" class="btn btn-success btn-mini">Stáhnout tabulku</a>
                    {% else %}
                        Akce zatím neuzavřena. Data načtena z pozvánky.
                    {% endif %}
                </p>
                <form action="closepoll.php" method="post">
                    <table class="table">
                        {% for member in members_data %}
                        {%if loop.first %}
                        <tr>
                            {%endif%}
                            <td><label class="checkbox inline">{{member.nickname}}<input type="checkbox" name="participants[]" value="{{member.id}}" {% if member.id in turnout_data %}checked="checked"{% endif %} onclick='$(this).find("input").click();'></label></td>
                            {%if loop.index is divisibleby(5) %}
                        </tr><tr>
                            {%endif%}
                            {%endfor %}
                        </tr></table>
                    {{forms.hidden("action","closepoll")}}
                    {{forms.hidden("id", poll_data.id_polls)}}
                    {{forms.bssubmit("Uzavřít akci","btn btn-primary")}}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
