{% extends "base.html" %}

{% block title %} Vytvořit/upravit email rodičům {% endblock %}

{% block content %}
	{% import "forms.html" as forms %}
	<div class="container-fluid">
		<div class="row-fluid">
			{% include 'hints.html' with {'page':'createplain'} %}
			<div class="span10">
                {%if post.sent is not null %}
                <div class="alert alert-block">
                    <h4>Pozor!</h4>
                    <p>&nbsp;</p>
                    <p>Tato zpráva již byla poslána!</p>
                    <p>Odeslání proběhlo: {{post.sent}}</p>
                </div>
                {% endif %}
        <form action="createplain.php" method="POST" class="form-horizontal" enctype="multipart/form-data">
          {{ forms.bsinput("text","subject","Abdikace krále Miloslava I.",post.subject,"Předmět zprávy",correction.subject) }}
          <div class="control-group{%if correction.content is not null%} error{% endif %}">
  					<label class="control-label">Obsah:</label>
  					<div class="controls">
  						<textarea rows="12" name="content" class="span6">{{post.content}}</textarea>
              {%if correction.content is not null%}
                <span class="help-inline ">{{correction.content}}</span>
              {% endif %}
  					</div>
  				</div>
            {# řešení už nahraných příloh#}
            {% if post.id is not null %}
                {% if post.file1 is not null %}
                    <div class="control-group"><div class="controls">
                        <a href="{{ post.file1 }}" class="btn btn-link">Příloha č. 1</a>
                        <a href="createplain.php?action=deleteattachment&id={{ post.id }}&attachment=1" class="btn btn-small">Smazat přílohu</a>
                    </div></div>
                {% else %}
                    {{ forms.bsinput("file","file1","",post.file1,"Příloha č. 1",correction.file1) }}
                {% endif %}
                {% if post.file2 is not null %}
                    <div class="control-group"><div class="controls">
                            <a href="{{ post.file2 }}" class="btn btn-link">Příloha č. 2</a>
                            <a href="createplain.php?action=deleteattachment&id={{ post.id }}&attachment=2" class="btn btn-small">Smazat přílohu</a>
                        </div></div>
                {% else %}
                    {{ forms.bsinput("file","file2","",post.file2,"Příloha č. 2",correction.file2) }}
                {% endif %}
                {% if post.file3 is not null %}
                    <div class="control-group"><div class="controls">
                            <a href="{{ post.file3 }}" class="btn btn-link">Příloha č. 3</a>
                            <a href="createplain.php?action=deleteattachment&id={{ post.id }}&attachment=3" class="btn btn-small">Smazat přílohu</a>
                        </div></div>
                {% else %}
                    {{ forms.bsinput("file","file3","",post.file1,"Příloha č. 3",correction.file3) }}
                {% endif %}
            {% else %}
                {{ forms.bsinput("file","file1","",post.file1,"Příloha č. 1",correction.file1) }}
                {{ forms.bsinput("file","file2","I.",post.file2,"Příloha č. 2",correction.file2) }}
                {{ forms.bsinput("file","file3","",post.file3,"Příloha č. 3",correction.file3) }}
            {% endif %}
           {%if post.id is not null%}
            {{ forms.bssubmit("Upravit zprávu","btn btn-warning") }}
            {{forms.hidden("id",post.id)}}
            {{forms.hidden("action","editwrite")}}
          {%else%}
            {{ forms.bssubmit("Vytvořit zprávu","btn btn-primary") }}
            {{forms.hidden("action","submitplain")}}
          {% endif %}
        </form>
			</div>
            <div class="row-fluid">
                <div class="span10 offset2">
                    <hr>
                    <h5>Poslední odeslané zprávy:</h5>
                    {% set edit_button = {"href":"createplain.php","text":"Editovat","class":"btn btn-warning","vars":{"action":"editplain","id":"id"}} %}
                    {% include "tabulize.html" with { "data" : last, "hide": ["id_plains"], "bools":["odesláno"], "buttons": [edit_button] } %}
                </div>
            </div>
		</div>
	</div>
{% endblock %}


