{% extends "base.html" %}

{% block title %} Správa vybavení {% endblock %}

{% block content %}
	{% import "forms.html" as forms %}
	<div class="container-fluid">
		<div class="row-fluid">
			<ul class="nav nav-tabs" id="myTab">
				<li class="active"><a href="#overview">Přehled vybavení</a></li>
				<li><a href="#new">Nové vybavení</a></li>
				{%if edit is not empty %}
				<li><a href="#edit">Editace</a></li>
				{%endif%}
			</ul>
		 </div>
		<div class="row-fluid">
			<div class="tab-content">
				<div class="tab-pane active" id="overview">
					{% include 'hints.html' with {'page':'equipment-overview'} %}
					<div class="span10">
						{%set edit_button = {"href":"equipment.php","class":"btn btn-warning","text":"Editovat","vars":{"tab":"edit","edit":"klíč","action":"edit"} } %}
						{%set hide_button = {"href":"equipment.php","class":"btn btn-inverse","text":"Skrýt/ukazovat","vars":{"id":"klíč","action":"hidetoggle"} } %}
						{% include 'tabulize.html' with {'data': overview_data,'buttons': [edit_button,hide_button], 'bools':["schováno"], 'hide':["klíč"] } %}
					</div>
				</div>
				<div class="tab-pane" id="new">
					{% include 'hints.html' with {'page':'equipment-new'} %}
					<div class="span10">
						<form action="equipment.php" method="POST" class="form-horizontal">
							{{forms.bsinputlarge("text","text","4 jablka a litr džusu",null,"Text zobrazený v pozvánce")}}
							{{forms.hidden("action","newwrite")}}
							{{forms.bssubmit("Vložit")}}
						</form>
					
					</div>
				
				</div>
				{%if edit is not empty %}
				<div class="tab-pane" id="edit">
					{% include 'hints.html' with {'page':'equipment-edit'} %}
					<div class="span10">
						<form action="equipment.php" method="POST" class="form-horizontal">
							{{forms.bsinputlarge("text","text","4 jablka a litr džusu",edit.text,"Text zobrazený v pozvánce")}}
							{{forms.hidden("oldkeyword",edit.oldkeyword)}}
							{{forms.hidden("action","editwrite")}}
							{{forms.bssubmit("Upravit")}}
						</form>
					</div>
				</div>
				{%endif%}
			</div>

			<script>
			$('#myTab a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			})
			
			$(function () {
			{% if request.tab is defined%}
				$('#myTab a[href="#{{request.tab}}"]').tab('show'); // Select tab by name
			{%else%}	
				$('#myTab a:first').tab('show');
			{%endif%}
			})
			</script>
		</div>
	</div>
{% endblock %}


