{% macro input(type, name, class, placeholder, value) %}
    <input type="{{ type|default('text') }}" {%if name is not null %} name="{{ name }}"{%endif%} {% if class is not null %} class="{{class}}"{%endif%} {%if placeholder is not null %} placeholder="{{ placeholder }}"{%endif%} {%if value is not null%}value="{{ value }}"{%endif%} />
{% endmacro %}

{% macro hidden(name, value) %}
    <input type="hidden" name="{{ name }}" value="{{ value }}" />
{% endmacro %}


{% macro bsinput(type, name, placeholder, value, label, correction) %}
	{% import _self as forms %}
	<div class="control-group {%if correction is not null %}error{%endif%}">
		{% if label is defined and label is not null %}
		<label class="control-label" for="{{name}}">{{label}}</label>
		{% endif %}

		<div class="controls">
			{{ forms.input(type, name, null ,placeholder, value) }}
			{%if correction is not null %}
				<span class="help-inline"> 
					{{correction}}
				</span>	
			{%endif%}
		</div>
	</div>	
{% endmacro %}

{% macro bsinputlarge(type, name, placeholder, value, label, correction) %}
	{% import _self as forms %}
	<div class="control-group {%if correction is not null %}error{%endif%}">
		{% if label is defined and label is not null %}
		<label class="control-label" for="{{name}}">{{label}}</label>
		{% endif %}

		<div class="controls">
			{{ forms.input(type, name, "input-block-level" ,placeholder, value) }}
			{%if correction is not null %}
				<span class="help-inline"> 
					{{correction}}
				</span>	
			{%endif%}
		</div>
	</div>	
{% endmacro %}



{% macro bssubmit(value, class, name) %}
	{% import _self as forms %}
	<div class="control-group">
		<div class="controls">
			{{ forms.input("submit", name, class|default('btn') , null, value) }}
		</div>
	</div>	
{% endmacro %}
