{% extends "base.html" %}

{% block title %} Správa skupin {% endblock %}

{% block content %}
	{% import "forms.html" as forms %}
	<div class="container-fluid">
		<div class="row-fluid">
			<ul class="nav nav-tabs" id="myTab">
				<li class="active"><a href="#overview">Přehled skupin</a></li>
				<li><a href="#new">Nová skupina</a></li>
				<li><a href="#members">Členové</a></li>
			</ul>
		 </div>
		<div class="row-fluid">
			<div class="tab-content">
				<div class="tab-pane active" id="overview">
					{% include 'hints.html' with {'page':'groups-overview'} %}
					<div class="span10">
						{%set members_button = {"href":"groups.php","class":"btn btn-primary","text":"Změnit členy","vars":{"tab":"members"} } %}
						{%set delete_button = {"href":"groups.php","class":"btn btn-danger","text":"Smazat","vars":{"id":"id","action":"deletegroup"} } %}
						{% include 'tabulize.html' with {'data': overview_data,'buttons': [members_button,delete_button] } %}
					</div>
				</div>
				<div class="tab-pane" id="new">
					{% include 'hints.html' with {'page':'groups-new'} %}
					<div class="span10">
						<form action="groups.php" method="POST" class="form-horizontal">
							{{forms.bsinput("text","name","Jeleni",post.name,"Název skupiny",correction.name)}}
							{{forms.hidden("action","newgroup")}}
							<h6>Členové skupiny</h6>
							<table class="table">
							{% for member in allmembers %}
								{%if loop.first %}
								<tr>
								{%endif%}
								<td><label class="checkbox inline">{{member.nick}}<input type="checkbox" name="newmembers[]" value="{{member.id}}"></label></td>
								{%if loop.index is divisibleby(9) %}
								</tr><tr>
								{%endif%}
							{%endfor %}
							</tr></table>
							{{forms.bssubmit("Vytvořit skupinu","btn btn-primary")}}
						</form>
					</div>
				
				</div>
				<div class="tab-pane" id="members">
					{% include 'hints.html' with {'page':'groups-members'} %}
					<div class="span10">
						{% for group in groups %}
							<div class="{{cycle(['odd','even'],loop.index)}}">
							<form action="groups.php" method="POST">
							<h5>{{group.name}}</h5>
							<table class="table">
							{% for member in allmembers %}
								{%if loop.first %}
								<tr>
								{%endif%}
								<td><label class="checkbox inline">{{member.nick}}<input type="checkbox" name="newmembers[]" value="{{member.id}}" 
								{%if member.id in group.members|split(',') %}checked="checked"{%endif%}></label></td>
								{%if loop.index is divisibleby(9) %}
								</tr><tr>
								{%endif%}
							{%endfor %}
							</tr></table>
							{{forms.hidden("action","editmembers")}}
							{{forms.hidden("id",group.id)}}
							{{forms.bssubmit("Změnit členy","btn btn-primary")}}
							</form>
							</div>
						{%endfor%}
					</div>
				</div>
			</div>

			<script>
			$('#myTab a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			})
			
			$(function () {
			{% if request.tab is defined%}
				$('#myTab a[href="#{{request.tab}}"]').tab('show'); // Select tab by name
			{%else%}	
				$('#myTab a:first').tab('show');
			{%endif%}
			})
			</script>
		</div>
	</div>
{% endblock %}


