{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
	<div class="span12">
		<h1>Stav přihlášek poslední akce</h1>
		{% if last_data is not empty %}
		<table class="table table-striped">
			<tr><th colspan="2"><h4>{{last_data.name}}</h4></th>
			{%if last_data.progress_confirm is not empty %}
			<tr><td colspan="2"><div class="progress progress-striped" style="height:40px;line-height:40px;">
				<div class="bar bar-success" style="width: {{last_data.progress_confirm}}%;">jedou ({{last_data.confirmed}})</div>
			        <div class="bar bar-danger" style="width: {{last_data.progress_reject}}%;">nejedou({{last_data.rejected}})</div>
				<div class="bar bar-info" style="width: {{last_data.progress_undecide}}%;">nerozhodnutí({{last_data.undecided}})</div>
				</div></td></tr>
			{% else %}
				<tr><td colspan="2"><i>Žádná data</i></td></tr>
			{%endif%}
			<tr><td><b>Odesláno:</b></td><td>{{last_data.sent}}</td></tr>
			<tr><td><b>Potvrzených účastníků:</b></td><td>{{last_data.confirmed}}</td></tr>
			<tr><td><b>Potvrdili účast:</b></td><td>{{last_data.confirmed_list}}</td></tr>
			<tr><td><b>Odmítnutých:</b></td><td>{{last_data.rejected}}</td></tr>
			<tr><td><b>Odmítli účast:</b></td><td>{{last_data.rejected_list}}</td></tr>
			<tr><td><b>Nerozhodnutých:</b></td><td>{{last_data.undecided}}</td></tr>
			<tr><td><b>Seznam nerozhodnutých:</b></td><td>{{last_data.undecided_list}}</td></tr>
			{% for comment in last_comments %}
			<tr><td><b>Komentář ({{comment.nick}}):</b></td><td>{{comment.comment}}</td></tr>
			{% endfor %}
		</table>
		{% else %}
			<em>Není žádná poslední akce</em>
		{% endif %}
		<hr>
		<a href="listpolls.php?action=adminvote&id={{last_data.id_polls}}" class="btn btn-inverse btn-large btn-block">Vyplnit za některého z účastníků</a>
	</div>
	
	</div>
</div>
{% endblock %}
