{% extends "base.html" %}

{% block title %} Přihlášeni na {{data.name}} {% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			{% if data is not empty %}
			<div class="progress progress-striped" style="height:40px;line-height:40px;">
				<div class="bar bar-success" style="width: {{data.progress_confirm}}%;">jedou ({{data.confirmed}})</div>
			        <div class="bar bar-danger" style="width: {{data.progress_reject}}%;">nejedou ({{data.rejected}})</div>
				<div class="bar bar-info" style="width: {{data.progress_undecide}}%;">nerozhodnutí({{data.undecided}})</div>
			</div>
			{% else %}
				<em>Není žádná poslední akce</em>
			{% endif %}
			<span class="help-block">Více informací můžete zjistit až se <a href="login.php">přihlásíte</a></span>	
		</div>
	</div>
</div>
{% endblock %}
