<div style='font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 0.75em;'>
	<h3>{{data.name}}</h3>
	{%if data.date_start == data.date_end%}
		<p><em>{{data.date_start}}</em></p>
	{%else%}
		<p><em>{{data.date_start}}&nbsp;-&nbsp;{{data.date_end}}</em></p>
	{%endif%}
<p><b>Kam se jede:</b>&nbsp;{{data.place}}</p>
<p><b>Sraz:</b>&nbsp;{{data.place_start}} v {{data.time_start|date('%h:%i')}} ({{data.date_start}})</p>
<p><b>Návrat:</b>&nbsp;{{data.place_end}} v {{data.time_end|date('%h:%i')}} ({{data.date_end}})</p>
<p><b>S sebou:</b>&nbsp;{{data.equipment_str}}</p>
{% if data.price is not null %}
	<p><b>Cena:</b>&nbsp;{{data.price}},-Kč</p>
{% endif %}
{% if data.comment is not null %}
	<p><b>Další informace:</b>&nbsp;{{data.comment}}</p>
{% endif %}
	{%for participant in participants%}
	<div>
			<a href="{{participant.url_confirm|default('#')}}" class="btn btn-large btn-success" {%if mail is defined%} style="color: rgb(91, 183, 91);"{%endif%}>{% if vote is defined and vote == 1 %}<i class="icon-ok"></i>{%endif%}{{participant.nick|default('Mé dítě')}} se zúčastní</a>
		<a href="{{participant.url_reject|default('#')}}" class="btn btn-large btn-danger" {%if mail is defined%} style="color: #da4f49;"{%endif%}>{% if vote is defined and vote == 0 %}<i class="icon-ok"></i>{%endif%}{{participant.nick|default('Mé dítě')}} se NEzúčastní</a>
	</div>
	{%endfor%}
	{%if participants is not defined %}
	<div>
			<a href="{{participant.url_confirm|default('#')}}" class="btn btn-large btn-success">{{participant.nick|default('Mé dítě')}} se zúčastní</a>
		<a href="{{participant.url_reject|default('#')}}" class="btn btn-large btn-danger">{{participant.nick|default('Mé dítě')}} se NEzúčastní</a>
	</div>
	{% endif %}
</div>
