{% extends "base.html" %}

{% block title %} Přehled všech emailů {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            {% include 'hints.html' with {'page':'listplains'} %}
            <div class="span10">
                <h2>Přehled všech akcí</h2>
                {% set view_button = {"href":"viewplain.php","text":"Prohlédnout","class":"btn btn-primary","vars":{"id":"id"}} %}
                {% set edit_button = {"href":"createplain.php","text":"Editovat","class":"btn btn-warning","vars":{"action":"editplain","id":"id"}} %}
                {% set send_button = {"href":"submitplain.php","text":"Odeslat","class":"btn btn-success","vars":{"id":"id"}} %}
                {% include "tabulize.html" with { "data" : plains_data, "buttons": [send_button,edit_button], "bools":["odesláno"] } %}
            </div>
        </div>

    </div>
{% endblock %}
