<html>
<body>
	{% include 'invitation.html' with {'data': poll_data, 'participants': participants, "mail":"mail" } only %}
    <p>
        Tato zpráva byla poslána na adresu: {{ email }}<br>
        Pokud si nepřejete dostávat další takovéto emaily, klikněte zde: <a href="{{ domain_url }}/unsub.php?email={{ email }}">Unsubscribe</a>
    </p>

</body>
</html>


