{% extends "base.html" %}

{% block title %} Uživatelské nastavení {% endblock %}

{% block content %}
	{% import "forms.html" as forms %}
	<div class="container-fluid">
		<div class="row-fluid">
			{% include 'hints.html' with {page: 'user'} %}
			<div class="span10">
				{% import "forms.html" as forms %}
				<h6>Změna hesla</h6>
				<form action="user.php" method="POST" class="form-horizontal">
					{{ forms.bsinput('password','passwd1','***',null,'Nové heslo') }}
					{{ forms.bsinput('password','passwd2','***',null,'Ještě jednou') }}
					{{ forms.bssubmit("Změnit heslo")}}
					{{ forms.hidden("action","changepass") }}
				</form>

				<h6>Změna emailu</h6>
				<form action="user.php" method="POST" class="form-horizontal">
					{{ forms.bsinput('text','email', session.email,null,'Nový email') }}
					{{ forms.bssubmit("Změnit email") }}
					{{ forms.hidden("action", "changeemail") }}
				</form>

				<h6>Změna přezdívky</h6>
				<form action="user.php" method="POST" class="form-horizontal">
					{{ forms.bsinput('text','nick', session.nick,null,'Nová přezdívka') }}
					{{ forms.bssubmit("Změnit přezdívku") }}
					{{ forms.hidden("action", "changenick") }}

				</form>
			</div>
		</div>
	</div>
{% endblock %}


